/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* General */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Edu Tas Beginner", sans-serif;
}

/* header region */
.app-header {
    height: 125px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/wall.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.app-header>h1 {
    font-size: 4rem;
    font-weight: bolder;

    text-transform: uppercase;
}

/* header endregion */

/* main region */
.app-main {
    min-height: calc(100dvh - 125px);

    display: flex;
    justify-content: center;

    padding: 50px 0;

    background-image: url(../img/cork.png);
    background-position: center;
    background-size: 100px;
}

.app-main>.gallery-container {
    width: 60%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.app-main .photo-card {
    padding: 15px;

    position: relative;

    background-color: rgb(255, 255, 255);
}

.app-main .photo-card>.thumbnail {
    width: 100%;
}

.app-main .photo-card>.pin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
}

.app-main .card-body {
    margin-top: 15px;
}

.photo-card h5 {
    text-transform: uppercase;
    font-weight: 700;
}

.app-main .photo-card .date {
    font-family: "Sometype Mono", "monospace";
}

/* Overlay */
.card-overlay {
    width: 100vw;
    height: 100vh;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;

    background-color: rgba(0, 0, 0, 0.404);
}

.card-overlay>.tools {
    width: 100%;

    display: flex;
    justify-content: end;

    padding-right: 5%;
}

button {
    background: none;

    border: none;

    padding: 10px;

    font-size: 24px;

    color: white;
}

button:disabled {
    cursor: not-allowed;

    color: rgb(199, 199, 199);
}

/* Responsive */
@media screen and (min-width: 576px) {
    .photo-card h5 {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {
    .photo-card h5 {
        font-size: 28px;
    }
}

@media screen and (min-width: 992px) {
    .photo-card h5 {
        font-size: 36px;
    }
}