/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* General */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Edu Tas Beginner", sans-serif;
}

/* header region */
.app-header {
    height: 125px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/wall.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.app-header>h1 {
    font-size: 72px;
    font-weight: bolder;

    text-transform: uppercase;
}

/* header endregion */

/* main region */
.app-main {
    min-height: calc(100dvh - 125px);

    display: flex;
    justify-content: center;

    padding: 50px 0;

    background-image: url(../img/cork.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.app-main>.gallery-container {
    width: 60%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.app-main .photo-card {
    padding: 15px;

    position: relative;

    background-color: rgb(255, 255, 255);
}

.app-main .photo-card>.thumbnail {
    width: 100%;
}

.app-main .photo-card>h5 {
    margin-top: 20px;
}

.app-main .photo-card>.pin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
}